.tag {
  background: #6c757d;
  color: white;

  border-radius: .5rem;
  font-size: 10px;
  padding: .15rem .55rem;
  text-align: center;

  &.danger {
    background: #dc3545;
  }

  &.success {
    background: #28a745;
  }
}