.form {
  &-input {

    margin-bottom: .5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.required > label::before {
      content: "*";
      color: red;
    }

    & > input {
      margin-left: auto;
      width: 50%;
      padding: .25rem .75rem;

      border: 1px solid black;
      border-radius: 5px;

      &:focus {
        border-color: red;
        outline: none;
      }
    }

    & > select {
      margin-left: auto;
      padding: .25rem .75rem;

      border: 1px solid black;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  &-date {
    & > input {
      width: auto;
    }
  }

  &-checkbox {
    & > input {
      width: auto;
    }
  }
}
