.form {
  &-input {

    margin-bottom: .5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    &.required > label::before {
      content: "*";
      color: red;
    }

    &_invalid {
      display: block;
      width: 100%;
      text-align: right;
      font-size: 80%;
      margin-left: auto;
      color: red;
    }

    &.form-radio-group {
      & > div {
        display: inline-block;
        float: right;
        margin-left: .725rem;

        &:not(:last-child) {
          margin-left: auto;
        }
      }
    }

    & > input {
      margin-left: auto;
      width: 50%;
      padding: .25rem .75rem;

      border: 1px solid black;
      border-radius: 5px;

      &:focus {
        border-color: blue;
        outline: none;
      }

      &.is-invalid {
        border-color: red;
      }
    }

    & > select {
      margin-left: auto;
      padding: .25rem .75rem;

      border: 1px solid black;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  &-date {
    & > input {
      width: auto;
    }
  }

  &-checkbox {
    & > input {
      width: auto;
    }
  }
}
