.employee {

  & > td {
    padding: .5rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid black;
  }

  & > * {
    text-align: center;
  }
  
  &:hover {
    background: #dedede;
  }

  &.employee-selected {
    background: #dedede;
  }
}